<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${title} - anagnorisis</title>
    <meta name="description" content="${description}" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav />

    <main>
      <a href="/blog.html" class="back-link">&larr; back to blog</a>
      <header>
        <h2><span style="user-select: none; color: var(--text-muted)">//</span> ${title}</h2>
        <div style="user-select: none" class="meta">
          <span>written on ${date}</span>
          <span>by ${author}</span>
        </div>
      </header>

      <hr class="divider" />

      <article>${--content}</article>

      <hr class="divider" />
    </main>
  </body>
</html>
