<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preload" href="/styles.css" as="style" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

  <link rel="preload" href="/fonts/geistmono.woff2" as="font" type="font/woff2" crossorigin fetchpriority="high" />

  <meta name="description" content="undefined's website on the internet" />

  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="${title}" />
  <meta property="og:description" content="undefined's website on the internet" />
  <meta property="og:url" content="https://undefinedcode.pages.dev" />
  <meta property="og:image" content="https://dyn-og.vercel.app/api/og?title=${title}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter/X -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="${title}" />
  <meta name="twitter:description" content="undefined's website on the internet" />
  <meta name="twitter:image" content="https://dyn-og.vercel.app/api/og?title=${title}" />
  <meta name="twitter:image:width" content="1200" />
  <meta name="twitter:image:height" content="630" />

  <title>${title}</title>
</head>